@import "../../app.scss";
.services {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      display: none;
      // align-self: center;
      // text-align: center;
      // flex-direction: column;
    }

    p {
      font-weight: 200;
      font-size: 20px;
      color: rgb(255, 255, 255);
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 3px solid rgb(0, 234, 255);

      // @include mobile {
      //   width: 300px;
      // }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    //https://codepen.io/jeihunmammadzada/pen/qBxzJBM
    .rgb-border-button {
      position: relative;
      z-index: 0;
      height: 100px;
      overflow: hidden;
      border: none !important;
      padding: 0 !important;
      background: #000000 !important;
      color: #656565;
      background: white;
      border-radius: 8px;
      width: 250px;
      text-align: center;
      font-size: 22px;
      font-weight: 400;
      box-shadow: 0 4px 50px 0 rgb(0 0 0 / 7%);
      transition: .2s all linear;
      text-decoration: initial;
      -webkit-box-reflect: below 1px -webkit-linear-gradient(transparent, #0004); //https://codepen.io/sumeet1610/pen/MWpNjgo

      @include mobile {
        font-size: 20px;
        width: 250px;
        height: 100px;
      }
  }
  
  .rgb-border-button span{
      position: relative;
      z-index: 1;
      height: calc( 100% - 4px );
      width: calc( 100% - 4px );
      //top: 2px;
      left: 2px;
      align-items: center;
      display: flex;
      justify-content: center;
      border-radius: 8px;
      color: white;
      background: #000000;
  }
  
  .rgb-border-button:after{
     content: "";
      position: absolute;
      z-index: -2;
      left: -50%;
      top: -50%;
      width: 200%;
      height: 200%;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 50% 50%, 50% 50%;
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
      background-image: linear-gradient(90deg, rgba(255,255,255,0)    0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
      -webkit-animation: rotate 2s linear infinite;
      animation: rotate 2s linear infinite;
  }
  
  
  @-webkit-keyframes rotate {
      100% {
          transform: rotate(360deg);
      }
  }
  
  @keyframes rotate {
      100% {
          transform: rotate(360deg);
      }
  }

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      img {
        width: 300px;
        height: 100px;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          margin-top: 10px;
          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 96px;
        font-weight: 100;

        @include mobile {
          font-size: 26px;
        }
      }

      // button {
      //   width: 300px;
      //   height: 100px;
      //   border-radius: 50px;
      //   background-color: orange;
      //   border: none;
      //   font-size: 24px;
      //   cursor: pointer;
      //  }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    width: 90vw;
    margin: auto;
    margin-bottom: 20px;

    h2{
      text-decoration: underline;
      text-underline-offset: 9px;
    }

    @include mobile {
      margin-top: -230px;
      flex-direction: column;
      width: 100%;
    }

    .box {
      padding: 50px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mobile {
        font-size: 10px;
        margin: 10px;
        align-items: center;
        gap: 20px;
        padding: 10px;
      }

      p {
        font-size: 20px;
        @include mobile{
          font-size: 12px;
        }
      }

      button {
        padding: 10px;
        background-color: orange;
        border: none;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid orange;
          border-radius: 5px;
          color: orange;
          width: 50%;
          padding: 5px;
        }
      }
    }
  }
}
